.runActivityImg, .milageActivitiesImg, .minutesActivitesImg {
    height: 35px;
    width: auto;
}

.strava-container {
    width: 33%;
}

#weeklyStravaContainer {
    width: 29%;
}

.strava-stats-container {
    height: 25%;
    width: 100%;
    display: flex;
}

#performanceHeader {
    margin: 0;
}

/* Adds undline after header */
#performanceHeader::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 39%;
    padding-top: 3px;
    border-bottom: 2px solid black;
}

.stats-container {
    width: 33%;
    padding-top: 32px;
}

.statistic {
    margin: 0;
    font-size: 16px;
    font-weight: 100;
}

/*
    STYLING FOR CHARTS
*/
.strava-graph-container {
    margin: 0 20px;
    height: 140px;
}

#weeklyRunGraphContainer {
    width: 175px;
}

#monthlyRunGraphContainer {
    width: 275px;
}

#yearlyRunGraphContainer {
    width: 300px;
}